form>div {
  padding: .2rem 1rem;
}

form>div>label {
  margin-right: .5rem;
}

form>div>label::after {
  content: ":";
}

.error {
  color: red;
  margin-left: .5rem;
  display: none;
}

.submitted input:valid {
  border: 1px solid rgb(88, 206, 98);
}

input:invalid {
  border: 1px solid tomato;
}

input:invalid+.error {
  display: inline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}